@{
  Layout = "_Layout";
}

<h1>Vendor Order Details: </h1>

<h2>@Model["order"].Title</h2>
<h6>Description: </h6>
<p>@Model["order"].Description</p>
<h6>Price: </h6>
<p>@Model["order"].Price $</p>
<h6>Date: </h6>
<p>@Model["order"].Date</p>
<h6>Vendor: @Model["vendor"].Name</h6>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add</a> another order</p>
<p>Return to <a href='/vendors/'>Vendors</a></p>