<h1>Vendor Order Details: </h1>

<h2>@Model["order"].Title</h2>
<p>Description: @Model["order"].Description</p>
<p>Price: @Model["order"].Price $</p>
<p>Date: @Model["order"].Date</p>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors/@Model["vendor"].Id/orders'>View all orders from this vendor</a>